html, body {

  -moz-user-select: none; /* Firefox */
  -webkit-user-select: none; /* Chrome, Safari, Opéra depuis la version 15 */
  -ms-user-select: none; /* Internet explorer depuis la version 10 et Edge */
  user-select: none; /* Propriété standard */

  width:100%;
  height:100%;
}

.form-reminder {
  position: fixed;
  right: 0;
  bottom: 0;
  background-color: rgba( 21, 21, 21, 0.75);

  padding: 15px;

  -webkit-border-radius:  11px;
  -moz-border-radius:  11px;
  border-radius: 11px;


  label {
    color: #00827c !important;
    font-size: 20px !important;
  }
  button {
    margin-bottom: 20px;
  }

}

.block {
  display: block !important;
}

#hidden {
  display: none !important;
}

.hidden {
  display: none !important;
}

#chargin {
  width: 15px;
  margin-right: 10px;
}

#charging {
  position: absolute;
  z-index: 3;
  margin: 0;
  padding: 0;
  border: 0;

  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.50);
}

#form-register {
  margin-bottom: 40px;
}

#div-log {

  position: fixed;
  z-index: 1;
  margin: 0;
  padding: 0;
  border: 0;

  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  width: 100%;
  height: 100%;
  background-color: #eaae00;
}